<head>
    <title>Foodpollo</title>

    <!--import script files needed from plotly and bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/styles/custom.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>



<!--navbar links-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

        <div class="bg-right">
    <h1>FOODPOLLO</h1>
        <p></p>
        <br>
        <br>
        <p></p>
</div>
    <a class="navbar-brand">Your One Stop For Food Healthiness!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <a class="nav-link" href="index">Home |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="project1">Food Recommendations |</a>
            </li>
            <li class="nav-item">
                <a class='active-page' href="recipefinder">Health Score Predictor |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="recipe_downloader">Download Recipe Data |</a>
            </li>


        </ul>
    </div>
</nav>

<div class="row" style="margin:0 auto; padding-top: 50px;">
    <div class="column">
        <img src="../static/images/recipe1.jpeg" alt="Healthy Recipe" height="200" width="219">
    </div>
    <div class="column">
        <img src="../static/images/recipe2.jpeg" alt="Healthy Recipe" height="200" width="219">
    </div>
    <div class="column">
        <img src="../static/images/recipe3.jpeg" alt="Healthy Recipe" height="200" width="219">
       </div>
        <div class="column">
            <img src="../static/images/recipe4.jpeg" alt="Healthy Recipe" height="200" width="219">
        </div>
        <div class="column">
            <img src="../static/images/recipe6.jpeg" alt="Healthy Recipe" height="200" width="219">
        </div>
        <div class="column">
            <img src="../static/images/recipe7.jpeg" alt="Healthy Recipe" height="200" width="217">
        </div>

</div>

<div class="input_recipes" style="padding-top: 50px;" id="recipein" >
    <h1>Copy and paste ingredients separated by comma and with no spaces.</h1>
<form method="POST"  style="height:45px; width:600px">
    <input name="ingredient_text"  style="height:45px; width:600px">

    <input type="submit">
</form>

</div>

 <div class="recipe_ingreds" style="padding-top: 50px;">





     <h3><u>Click Submit To See Your Recipe's Health Score:</u></h3>
     <form action="{{ url_for('my_form_post') }}" method="get">
        <br>
         <br>
         <div class = 'H_predict'>
         <h4>{{ result }}</h4>
     </div>
        </form>
</div>
</body>

</html>